.root{
    --sizeX : 62px;
    --sizeY : 62px;
}
.flipBody{
    text-align: center;
    align-content: center;
}
.presetsImgs{
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
	align-items:center;
    justify-content: center;
    border: dotted 1px gray;
}
.defaultImg{
    background-image: var(--defaultImg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
.fileImg{
    background-image: var(--fileImg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: none;
}
.inputArea{
	justify-content: center;
	padding-bottom: 10px;	
}
#StartGame{

	background-color: rgb(54, 54, 54);
	color: antiquewhite;
	height: 30px;
	margin : auto;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 20px;
}

.smallButtons{
    width: 30px;
    height: 30px
}
.curLevel{
    padding: 5px 10px;
	border: 2px solid rgba(180, 180, 180, 0.712);
}
