<div>
    <div class="infoList projectsInfo">
        <p>
            Projects and Practices for web development
        </p>
    </div>
    <section>
        <div class="projects">
            <div class="projectSelector ">
                <div class="allProjects">
                    <div *ngFor="let arg of projects">
                        <button (click)="onSelect(arg)">
                            {{arg.title}}
                        </button>
                    </div>
                </div>
            </div>


            <div class="projectArea">
                <div class="des">
                    <p [innerHtml]="description">

                    </p>
                </div>
                <ng-container *ngComponentOutlet="componentToLoad" class="project">

                </ng-container>
            </div>
        </div>
    </section>
</div>