<div class="mainBg">
  <!-- Intro -->
  <app-resume-intro></app-resume-intro>
  <!-- Experience -->
  <div class="bg-1">
    <h2 class="h2Header">{{ "experience" | translate }}</h2>
    <hr class="hrDotted" />
    <div class="expArea">
      <app-exp-obj-display
        *ngFor="let expObj of getExpObj()"
        [expObj]="expObj"
      ></app-exp-obj-display>
    </div>
  </div>
  <!-- Skills -->
  <app-list-display title="{{ 'skills' | translate }}"></app-list-display>
  <!-- Summary And Education -->
  <div class="summery bg-1">
    <h3>{{ "summaryAndEducation" | translate }}</h3>
    <div
      class="multiple-line"
      [translate]="'endText'"
      [translateParams]="{ unity: getUnityYears(), total: getTotalYears() }"
    ></div>
  </div>
</div>
