<div class="mainBg">
  <app-resume-intro></app-resume-intro>
  <section>
    <div class="bg-1">
      <h2 class="h2Header">Experience</h2>
      <hr class="hrDotted" />
      <div class="expArea">
        <app-exp-obj-display
          *ngFor="let expObj of expObjs"
          [expObj]="expObj"
        ></app-exp-obj-display>
      </div>
    </div>
  </section>
  <section>
    <app-list-display title="Technical Skills"></app-list-display>
  </section>
  <section>
    <div class="summery bg-1">
      <h3>Summary and Education</h3>
      <p *ngFor="let arg of summeryAndEducation">{{ arg }}</p>
    </div>
  </section>
</div>
