<div>
  <section>
    <div class="projects">
      <!-- Top Tabs -->
      <div class="projectSelector">
        <div class="allProjects">
          <div *ngFor="let arg of projects">
            <button (click)="onSelect(arg)">
              {{ arg.title }}
            </button>
          </div>
        </div>
      </div>
      <!-- Display Current Project -->
      <div class="projectArea">
        <div class="des">
          <p [innerHtml]="description"></p>
        </div>
        <ng-container *ngComponentOutlet="componentToLoad" class="project">
        </ng-container>
      </div>
    </div>
  </section>
</div>
