.projects {
  height: 100%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.projectSelector {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  background-color: rgba(37, 37, 37, 0.164);
  border-radius: 30px;
}
.allProjects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 20px;
}
.allProjects button {
  background-image: var(--liBg);
  opacity: 0.9;
  width: 200px;
  height: 30px;
  color: #e2e2e2;
  background-size: 100%;
  background-position: 50% 50%;
  margin-top: 5px;
}
.projectArea {
  background-color: #4e4e4e4b;
  width: 100%;
  height: auto;
  padding: 20px;
  left: 12%;
  margin-top: 5px;
  margin-right: 1%;
  border-radius: 30px;
  border: 2px solid rgba(240, 240, 240, 0.534);
}
.des {
  margin: 10px 10px;
  height: 15%;
  width: 98%;
  text-align: center;
  border-radius: 20px;
  background-color: #4e4e4e4b;
}
.des p {
  width: 100%;
  height: 100%;
  font-size: 1.5vh;
}
.project {
  top: 25%;
  height: 75%;
  width: 100%;
}
