<div [ngClass]="setClasses()">
  <div class="main-todo">
    <input
      (change)="onToggle(todo)"
      type="checkbox"
      (click)="cancelClick()"
      class="toggle-todo"
    />

    <p
      class="theTittle"
      *ngIf="!editMode; else elseBlock"
      (dblclick)="onSelect()"
    >
      {{ todo.title }}
    </p>
    <ng-template #elseBlock>
      <input
        type="text"
        [ngModel]="todo.title"
        #inputObj
        (keydown.enter)="toggleEdit()"
        class="input-todo"
      />
    </ng-template>

    <button
      mat-button
      [matMenuTriggerFor]="beforeMenu"
      class="menu"
      (click)="cancelClick()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button (click)="toggleEdit()" mat-menu-item>Edit</button>
      <button (click)="move(1)" mat-menu-item>Move Up</button>
      <button (click)="move(-1)" mat-menu-item>Move Down</button>
      <button (click)="onDelete(todo)" mat-menu-item>Delete</button>
    </mat-menu>
    <!-- <button (click)="move(1)" class="move-array">ʌ</button>
    <button (click)="move(-1)" class="move-array">v</button>

    <button (click)="toggleEdit()" class="edit">...</button>
    <button (click)="onDelete(todo)" class="del">x</button> -->
  </div>
</div>
