.del {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  /* float: right; */
  /* position: absolute;
  right: 0; */
}
.isComplete {
  text-decoration: line-through;
}
.is-Notcomplete {
  text-decoration: none;
}

.edit {
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
  border-radius: 10px;
  user-select: none;
}

.main-todo:hover .edit {
  background-color: rgb(0, 17, 255);
}
.todo {
  background: #5c5c5c;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}
.main-todo {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  display: flex;
}

.theTittle {
  padding-left: 10px;
  text-decoration: none;
  width: 100%;
}
.input-todo {
  /* flex-basis: 1 1 auto; */
  width: 100%;
}
.move-array {
  width: 25px;
}
.menu {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
}
