<div [ngClass]="setClasses()">
  <div class="main-todo">
    <input (change)="onToggle(todo)" type="checkbox" class="toggle-todo" />

    <p
      class="theTittle"
      *ngIf="!editMode; else elseBlock"
      (dblclick)="onSelect()"
      (click)="onSelectTopic()"
    >
      {{ todo.title }}
    </p>
    <ng-template #elseBlock>
      <input
        type="text"
        [ngModel]="todo.title"
        #inputObj
        (keydown.enter)="toggleEdit()"
        class="input-todo"
      />
    </ng-template>
    <app-menu-obj [menu]="myMenu" (callback)="onOption($event)"></app-menu-obj>
  </div>
</div>
